
.accion{
    margin-left: 10%;
}
.icono{
    display: flex;
    position: absolute;
    color: orangered;
    align-items: center;
    background-color: white;
    height:2%;
    padding: 1%;
    opacity: .7;
    border-radius: 10%;
    box-shadow: 4px 4px 4px black;

}
