body, html{
    width: 100%;
}

.etiq{
    display: flex;
    width: 95%;
    margin-left: 5%;    
}
.dato{
    display: grid;
    position:relative;
    padding: 5%;

}

.estrellas{
    margin-top: 3%;
}