

img{
    width:100%;
   margin: auto;
   background-size: 100% 100%;
    
}
.titulofoto{
    display: flex;
    align-items:flex-start;
    
    width: 80%;
    border-left: 5%;
}

.titulofoto>div{
    padding: 3%;
}
.datos{
   margin-left: 3%;
    bottom: 8%;
}
.tarjteta_descripcion{
    align-items:flex-start;
    padding: 2%;
    width: 100%;
    height:20%;
    display: flex;
 
    overflow: hidden;
}

.containerImg {
    width: 20%;
}
  
  .containerImg img {
    max-height: 100%;
    max-width: 95%;
    border-radius: 10%;
  }

.Desde {
    padding-left: 10px;

}

.Hasta {
    padding-left: 10px;
    padding-bottom: 5px;

}
