html,
body {
    background-color: cornflowerblue;
    font-family:'-apple-system',
    'BlinkMacSystemFont',
    '"Segoe UI"',
    'Roboto',
    '"Helvetica Neue"',
    'Arial',
    'sans-serif',
}
.portada{
    position: relative;
    display: inline-block;
    width: 100%;

}


.imgs {
    position:inherit;
    width: 100%;
    height: fit-content;
}

.lugar {
    opacity: .5;
    position: absolute;
    bottom: 20px;
    right: 25%;
    text-align: center;
    width: 50%;
    height:max-content;
    padding: -5px;
    margin: auto;
    margin-top: 0%;
    background-color: blue;
    border-bottom: 5%;
    color: white;
}

.tarj {
    position:relative;
    display: flex;
    width: fit-content;
    margin-left: 20%;
    margin-top: 30%;
    margin-bottom: 40%;
    box-shadow: 2px 2px 10px;
}
.megusta{
    position: absolute;
    width: fit-content;
    top: 0%;
    text-align: center;
    margin-left: 85%;
    margin-top: 0%;
}

.detalles {
    padding: 1px;
    position: relative;

}

.col {
    display: inline-flex;
    padding: 3px;
    margin-right: 2px;

}
.telefono{
    display:flex;
    position: inherit;
    align-items: center;
    margin-top: -18%; 
    width: fit-content;
    height: fit-content;
    padding-top: 0%;
  
}
.tlfn {
  
    float: right;
    position:static;

}

.estrellas {
    padding: 5px;
    margin-left: 26%;
    margin-top: 0%;
    width: 60%;
    height: fit-content;
}


.location{
        display: flex;
        height:fit-content;
        width: fit-content;
        align-items: center;
}
.loc{
   
    color: black;
    text-align: justify;
    width: 100%;

}
